Repository tinkerbell/tinkerbell, pull requests merged in 2025-06, with the labels that each got.

#185 Fix bad link:
  docs/technical/AUTO_ENROLLMENT.md
Labels: documentation, ready-to-merge

#186 Create `tinkerbell/tinkerbell/api` Go module:
  Makefile
  api/boilerplate.go.txt
  api/go.mod
  api/go.sum
  api/v1alpha1/bmc/action.go
  api/v1alpha1/bmc/bmc.go
  api/v1alpha1/bmc/job.go
  api/v1alpha1/bmc/machine.go
  api/v1alpha1/bmc/provider_opts.go
  api/v1alpha1/bmc/task.go
  api/v1alpha1/bmc/zz_generated.deepcopy.go
  api/v1alpha1/tinkerbell/doc.go
  api/v1alpha1/tinkerbell/hardware.go
  api/v1alpha1/tinkerbell/template.go
  api/v1alpha1/tinkerbell/tinkerbell.go
  api/v1alpha1/tinkerbell/workflow.go
  api/v1alpha1/tinkerbell/workflow_test.go
  api/v1alpha1/tinkerbell/workflowruleset.go
  api/v1alpha1/tinkerbell/zz_generated.deepcopy.go
  go.mod
  go.sum
  pkg/api/api.go
  pkg/api/v1alpha1/tinkerbell/groupversion_info.go
  pkg/backend/kube/index.go
  pkg/backend/kube/index_test.go
  pkg/backend/kube/kube.go
  pkg/backend/kube/kube_test.go
  pkg/backend/kube/secondstar.go
  pkg/backend/kube/smee.go
  pkg/backend/kube/tink_server.go
  pkg/backend/kube/tootles.go
  rufio/internal/controller/client.go
  rufio/internal/controller/controller.go
  rufio/internal/controller/helpers_test.go
  rufio/internal/controller/job.go
  rufio/internal/controller/job_test.go
  rufio/internal/controller/kube.go
  rufio/internal/controller/machine.go
  rufio/internal/controller/machine_test.go
  rufio/internal/controller/task.go
  rufio/internal/controller/task_test.go
  script/boilerplate.go.txt
  tink/controller/controller.go
  tink/controller/internal/workflow/convert.go
  tink/controller/internal/workflow/convert_test.go
  tink/controller/internal/workflow/hardware.go
  tink/controller/internal/workflow/job.go
  tink/controller/internal/workflow/job_test.go
  tink/controller/internal/workflow/lists.go
  tink/controller/internal/workflow/lists_test.go
  tink/controller/internal/workflow/post.go
  tink/controller/internal/workflow/pre.go
  tink/controller/internal/workflow/pre_test.go
  tink/controller/internal/workflow/reconciler.go
  tink/controller/internal/workflow/reconciler_test.go
  tink/server/internal/grpc/auto.go
  tink/server/internal/grpc/enrollment.go
  tink/server/internal/grpc/enrollment_test.go
  tink/server/internal/grpc/grpc.go
  tink/server/internal/grpc/grpc_test.go
Labels: enhancement, kind/enhancement, ready-to-merge

#188 Update docker compose:
  docker-compose.yaml
Labels: ready-to-merge

#193 Add WorkflowRuleSets ClusterRole:
  helm/tinkerbell/templates/role.yaml
Labels: ready-to-merge, helm-chart

#194 Update Helm chart rbac, service, `values.yaml`:
  helm/tinkerbell/templates/deployment.yml
  helm/tinkerbell/templates/hookos/deployment.yaml
  helm/tinkerbell/templates/hookos/download-configmap.yaml
  helm/tinkerbell/templates/hookos/nginx-configmap.yaml
  helm/tinkerbell/templates/hookos/pvc.yaml
  helm/tinkerbell/templates/hookos/service.yaml
  helm/tinkerbell/templates/kube-vip/cluster-role-binding.yaml
  helm/tinkerbell/templates/kube-vip/cluster-role.yaml
  helm/tinkerbell/templates/kube-vip/daemonset.yaml
  helm/tinkerbell/templates/kube-vip/kubevip.yaml
  helm/tinkerbell/templates/kube-vip/service-account.yaml
  helm/tinkerbell/templates/leader-election-role-binding.yaml
  helm/tinkerbell/templates/leader-election-role.yaml
  helm/tinkerbell/templates/role-binding.yaml
  helm/tinkerbell/templates/role.yaml
  helm/tinkerbell/templates/service-account.yaml
  helm/tinkerbell/templates/service.yaml
  helm/tinkerbell/values.yaml
Labels: ready-to-merge, helm-chart

#195 Update embedded apiserver:
  apiserver/apiserver.go
  docs/technical/EMBEDDED.md
  go.mod
  go.sum
Labels: ready-to-merge, embedded

#196 Move retries to tink-server:
  tink/agent/agent.go
  tink/agent/internal/transport/grpc/grpc.go
  tink/agent/internal/transport/grpc/grpc_test.go
  tink/server/internal/grpc/grpc.go
Labels: ready-to-merge, tink-server, tink-agent

#198 Validate DHCP fields instead of requiring them:
  pkg/backend/kube/kube_test.go
  pkg/backend/kube/secondstar.go
  pkg/backend/kube/smee.go
  pkg/backend/kube/tootles.go
  smee/internal/dhcp/handler/proxy/proxy.go
Labels: kind/bug, ready-to-merge, smee

#200 Rename HookOS 6.6 kernel and initramfs after downloading:
  helm/tinkerbell/templates/hookos/deployment.yaml
  helm/tinkerbell/templates/hookos/download-configmap.yaml
  helm/tinkerbell/values.yaml
Labels: ready-to-merge, helm-chart

#203 Helm chart readme
  helm/tinkerbell/README.md
  helm/tinkerbell/templates/deployment.yml
  helm/tinkerbell/values.yaml
Labels: documentation, ready-to-merge, helm-chart

#207 Plum through enabling/disabling netboot:
  cmd/tinkerbell/flag/smee.go
  smee/smee.go
Labels: ready-to-merge, smee

#212 Fix auto discovery doc:
  docs/technical/AUTO_DISCOVERY.md
Labels: documentation, ready-to-merge

#216 Deprecate `oneTimeBootDeviceAction`, Add `bootDevice`:
  api/v1alpha1/bmc/action.go
  api/v1alpha1/bmc/task.go
  api/v1alpha1/bmc/zz_generated.deepcopy.go
  crd/bases/bmc.tinkerbell.org_jobs.yaml
  crd/bases/bmc.tinkerbell.org_tasks.yaml
  crd/bases/tinkerbell.org_workflows.yaml
  docs/technical/BOOT_MODES.md
  rufio/internal/controller/task.go
  rufio/internal/controller/task_test.go
Labels: ready-to-merge, rufio

#224 Add port to HTTP filename in DHCP examples
  docs/technical/smee/DHCP.md
Labels: documentation, ready-to-merge

#226 Update auto docs; add dhcp boot modes doc
  docs/technical/AUTO_DISCOVERY.md
  docs/technical/AUTO_ENROLLMENT.md
  docs/technical/DHCP_BOOT_MODES.md
Labels: documentation, ready-to-merge

#225 If Hardware exist honor allowPXE field:
  smee/internal/dhcp/handler/proxy/proxy.go
  smee/internal/dhcp/handler/proxy/proxy_test.go
Labels: ready-to-merge, smee

#227 Refactor Auto Discovery:
  api/v1alpha1/tinkerbell/hardware.go
  cmd/tinkerbell/flag/tink_server.go
  crd/bases/tinkerbell.org_hardware.yaml
  docs/technical/AUTO_DISCOVERY.md
  docs/technical/AUTO_ENROLLMENT.md
  pkg/backend/kube/error.go
  pkg/backend/kube/index.go
  pkg/backend/kube/tink_server.go
  smee/internal/ipxe/script/auto_test.go
  smee/internal/ipxe/script/hook.go
  tink/server/internal/grpc/discovery.go
  tink/server/internal/grpc/discovery_test.go
  tink/server/internal/grpc/kube_test.go
Labels: ready-to-merge, tink-server
