Repository tinkerbell/tinkerbell, pull requests merged in 2025-08, with the labels that each got.

#303 Use github.com/distribution/reference for auth checking:
  tink/agent/internal/runtime/docker/registry.go
  tink/agent/internal/runtime/docker/registry_test.go
Labels: ready-to-merge, tink-agent

#305 Make QPS and burst configurable:
  cmd/tinkerbell/backend.go
  cmd/tinkerbell/cmd.go
  cmd/tinkerbell/flag/global.go
  helm/tinkerbell/templates/deployment.yml
  helm/tinkerbell/values.yaml
  pkg/backend/kube/kube.go
Labels: ready-to-merge

#306 Allow customizing the iPXE binary URI Mac addr format:
  cmd/tinkerbell/flag/smee.go
  smee/internal/dhcp/dhcp.go
  smee/internal/dhcp/dhcp_test.go
  smee/internal/dhcp/handler/proxy/proxy.go
  smee/internal/dhcp/handler/reservation/handler_test.go
  smee/internal/dhcp/handler/reservation/option.go
  smee/internal/dhcp/handler/reservation/reservation.go
  smee/smee.go
Labels: smee

#308 Plumb through iPXE mac addr injection in helm chart
  helm/tinkerbell/templates/deployment.yml
  helm/tinkerbell/values.yaml
Labels: ready-to-merge, helm-chart

#309 Add snp.efi for x86_64; allow customizing the NIC arch to iPXE binary map
  .golangci.yml
  api/v1alpha1/tinkerbell/hardware.go
  cmd/tinkerbell/flag/smee.go
  crd/bases/tinkerbell.org_hardware.yaml
  docs/technical/smee/IPXE_ARCH_MAP.md
  helm/tinkerbell/templates/deployment.yml
  helm/tinkerbell/values.yaml
  pkg/backend/kube/smee.go
  pkg/constant/constant.go
  pkg/data/data.go
  pkg/data/data_test.go
  smee/internal/dhcp/dhcp.go
  smee/internal/dhcp/dhcp_test.go
  smee/internal/dhcp/format.go
  smee/internal/dhcp/format_test.go
  smee/internal/dhcp/handler/proxy/proxy.go
  smee/internal/dhcp/handler/proxy/proxy_test.go
  smee/internal/dhcp/handler/reservation/handler_test.go
  smee/internal/dhcp/handler/reservation/option.go
  smee/internal/dhcp/handler/reservation/option_test.go
  smee/internal/dhcp/handler/reservation/reservation.go
  smee/internal/ipxe/binary/file/Makefile
  smee/internal/ipxe/binary/file/binary.go
  smee/internal/ipxe/binary/file/binary_test.go
  smee/internal/ipxe/binary/file/script/build_and_pr.sh
  smee/internal/ipxe/binary/file/script/build_ipxe.sh
  smee/internal/ipxe/binary/file/snp-arm64.efi
  smee/internal/ipxe/binary/file/snp-x86_64.efi
  smee/internal/ipxe/binary/file/snp.efi
  smee/smee.go
Labels: ready-to-merge, smee

#315 GitHub action bot signed commits
  .github/workflows/ci.yaml
  .github/workflows/ipxe.yaml
  smee/internal/ipxe/binary/file/script/build_and_pr.sh
Labels: ready-to-merge

#313 Update to latest iPXE commit:
  smee/internal/ipxe/binary/file/script/build_and_pr.sh
  smee/internal/ipxe/binary/file/script/build_ipxe.sh
  smee/internal/ipxe/binary/file/script/ipxe-customizations/nap.h
  smee/internal/ipxe/binary/file/script/ipxe.commit
  smee/internal/ipxe/binary/file/script/sha512sum.txt
Labels: ready-to-merge, smee

#319 Handle Workflows created from older controllers:
  docs/technical/HELM_VALUES_MIGRATION.md
  docs/technical/ORIGINAL_HELM_CHART_UPGRADE.md
  helm/tinkerbell/README.md
  pkg/backend/kube/tink_server.go
  tink/controller/internal/workflow/reconciler.go
Labels: ready-to-merge, tink-controller

#329 Update go.mod deps and build tool deps:
  Makefile
  buf.gen.yaml
  crd/bases/bmc.tinkerbell.org_jobs.yaml
  crd/bases/bmc.tinkerbell.org_machines.yaml
  crd/bases/bmc.tinkerbell.org_tasks.yaml
  crd/bases/tinkerbell.org_hardware.yaml
  crd/bases/tinkerbell.org_templates.yaml
  crd/bases/tinkerbell.org_workflowrulesets.yaml
  crd/bases/tinkerbell.org_workflows.yaml
  go.mod
  go.sum
  pkg/proto/get_action_request.pb.go
  pkg/proto/get_action_response.pb.go
  pkg/proto/report_action_status_request.pb.go
  pkg/proto/report_action_status_response.pb.go
  pkg/proto/workflow_service.pb.go
Labels: ready-to-merge, dependencies

#321 Tink Agent: filter out block devices with unknown controller type
  tink/agent/internal/attribute/attribute.go
Labels: ready-to-merge, tink-agent

#330 Implement multi-task multi-agent functionality in Workflows
  api/v1alpha1/tinkerbell/workflow.go
  crd/bases/tinkerbell.org_workflows.yaml
  tink/controller/internal/workflow/reconciler.go
  tink/controller/internal/workflow/reconciler_test.go
Labels: ready-to-merge, tink-controller, api

#335 Remove redundant log values:
  smee/smee.go
Labels: ready-to-merge, smee

#338 Handle the empty string case for new CLI flags:
  cmd/tinkerbell/flag/smee.go
Labels: kind/bug, ready-to-merge, cli
