Repository tinkerbell/tinkerbell, pull requests merged in 2025-05, with the labels that each got.

#153 Quieter Agent logging:
  tink/agent/agent.go
  tink/agent/internal/transport/grpc/error.go
  tink/agent/internal/transport/grpc/grpc.go
Labels: ready-to-merge, tink-agent

#160 fix: remove duplicate `type`
  helm/tinkerbell/templates/service.yaml
Labels: ready-to-merge, helm-chart

#162 Sort sections alphabetically
  README.md
Labels: documentation, ready-to-merge

#163 feat: add Colony as adopter
  docs/ADOPTERS.md
Labels: documentation, ready-to-merge

#165 Update readme
  README.md
Labels: documentation, ready-to-merge

#141 Add References to Hardware spec:
  Makefile
  cmd/tinkerbell/cmd.go
  cmd/tinkerbell/flag/tink_controller.go
  crd/bases/tinkerbell.org_hardware.yaml
  docs/technical/EMBEDDED.md
  docs/technical/REFERENCES.md
  go.mod
  go.sum
  pkg/api/v1alpha1/tinkerbell/hardware.go
  pkg/api/v1alpha1/tinkerbell/zz_generated.deepcopy.go
  pkg/backend/kube/controller.go
  pkg/backend/kube/controller_test.go
  pkg/backend/kube/kube.go
  pkg/flag/delimitedlist/delimitedlist.go
  pkg/flag/delimitedlist/delimitedlist_test.go
  script/reference_format.sh
  tink/controller/controller.go
  tink/controller/internal/workflow/lists.go
  tink/controller/internal/workflow/lists_test.go
  tink/controller/internal/workflow/reconciler.go
  tink/controller/internal/workflow/reconciler_test.go
Labels: ready-to-merge, tink-controller

#178 Update release process:
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: ready-to-merge, github_actions
