Repository tinkerbell/tinkerbell, pull requests merged in 2025-07, with the labels that each got.

#238 rename init container:
  helm/tinkerbell/templates/deployment.yml
Labels: ready-to-merge, helm-chart

#252 Update go.mod dependencies:
  go.mod
  go.sum
Labels: ready-to-merge, dependencies, go

#256 smee: pass otel config from global
  cmd/tinkerbell/cmd.go
Labels: ready-to-merge, smee

#280 Add checksum annotation for HookOS download script:
  helm/tinkerbell/templates/hookos/deployment.yaml
Labels: ready-to-merge, helm-chart

#283 Remove hard coded name for PVC
  helm/tinkerbell/templates/hookos/pvc.yaml
Labels: ready-to-merge, helm-chart

#285 Handle CRD updates properly:
  crd/crd.go
Labels: ready-to-merge

#287 Default to latest released HookOS:
  helm/tinkerbell/values.yaml
Labels: ready-to-merge, helm-chart

#289 Fix syslog panic; Remove mergify speculative checks:
  .github/mergify.yml
  Makefile
  smee/internal/syslog/receiver.go
Labels: ready-to-merge, smee

#291 Add unit tests for syslog receiver:
  smee/internal/syslog/receiver.go
  smee/internal/syslog/receiver_test.go
Labels: ready-to-merge, smee

#293 fix: update /metadata endpoint for no corresponding hardware object (#231)
  tootles/internal/frontend/hack/hack.go
Labels: ready-to-merge, tootles
