Repository tinkerbell/tinkerbell, pull requests merged in 2025-04, with the labels that each got.

#116 helm/tinkerbell: fix namespace references
  helm/tinkerbell/templates/hookos/download-configmap.yaml
  helm/tinkerbell/templates/hookos/pvc.yaml
  helm/tinkerbell/templates/leader-election-role-binding.yaml
  helm/tinkerbell/templates/leader-election-role.yaml
  helm/tinkerbell/templates/role-binding.yaml
  helm/tinkerbell/templates/service-account.yaml
  helm/tinkerbell/templates/service.yaml
Labels: ready-to-merge, helm-chart

#132 Increase syslog message buffer to 32kb:
  smee/internal/syslog/message.go
Labels: smee

#133 Add multi-task implementation; add Workflow print columns:
  crd/bases/tinkerbell.org_workflows.yaml
  pkg/api/v1alpha1/tinkerbell/workflow.go
  pkg/journal/journal.go
  pkg/journal/journal_test.go
  tink/controller/internal/workflow/job.go
  tink/controller/internal/workflow/post.go
  tink/controller/internal/workflow/pre.go
  tink/controller/internal/workflow/pre_test.go
  tink/controller/internal/workflow/reconciler.go
  tink/server/internal/grpc/grpc.go
  tink/server/internal/grpc/grpc_test.go
Labels: tink-server

#139 Update k8s dependencies; document embedded services
  cmd/tinkerbell/cmd.go
  cmd/tinkerbell/flag/global.go
  docs/EMBEDDED.md
  go.mod
  go.sum
  script/deps.sh
Labels: documentation, dependencies

#140 Update versions that have the `replace` directive defined:
  go.mod
Labels: dependencies

#144 [CI] Make sure tags are in the git history:
  .github/workflows/ci.yaml
Labels: CI

#146 Add env var for enable/disable CRD migrations:
  helm/tinkerbell/templates/deployment.yml
  helm/tinkerbell/values.yaml
Labels: helm-chart

#148 Update maintainers:
  .github/settings.yaml
Labels: ready-to-merge
