Repository tinkerbell/tinkerbell, pull requests merged in 2025-09, with the labels that each got.

#359 Add CA certificates to Agent container image:
  Dockerfile.agent
Labels: ready-to-merge, tink-agent

#372 dhcp: add RFC 3442 classless static routes support
  api/v1alpha1/tinkerbell/hardware.go
  api/v1alpha1/tinkerbell/zz_generated.deepcopy.go
  crd/bases/tinkerbell.org_hardware.yaml
  pkg/backend/kube/kube_test.go
  pkg/backend/kube/smee.go
  pkg/data/data.go
  pkg/data/data_test.go
  smee/internal/dhcp/handler/reservation/handler_test.go
  smee/internal/dhcp/handler/reservation/option.go
  smee/internal/dhcp/handler/reservation/option_test.go
Labels: ready-to-merge, smee

#374 Add Global bind address
  cmd/tinkerbell/cmd.go
  cmd/tinkerbell/flag/global.go
  cmd/tinkerbell/flag/smee.go
  cmd/tinkerbell/flag/tink_server.go
  cmd/tinkerbell/flag/tootles.go
  helm/tinkerbell/templates/deployment.yml
  helm/tinkerbell/values.yaml
  secondstar/secondstar.go
  smee/internal/ipxe/http/middleware.go
Labels: ready-to-merge, helm-chart, cli

#377 Add String method to netip.Addr:
  pkg/flag/netip/netip.go
  pkg/flag/netip/netip_test.go
Labels: ready-to-merge, cli

#379 Create the iPXE extra version in one place:
  smee/internal/ipxe/binary/file/script/build_ipxe.sh
Labels: ready-to-merge, smee

#384 Update iPXE script, auto.ipxe, URI
  docs/technical/smee/DHCP.md
Labels: documentation, ready-to-merge

#358 Add TLS termination
  cmd/tinkerbell/cmd.go
  cmd/tinkerbell/flag/global.go
  cmd/tinkerbell/flag/smee.go
  docs/technical/TLS_TERMINATION.md
  helm/tinkerbell/templates/deployment.yml
  helm/tinkerbell/templates/service.yaml
  helm/tinkerbell/values.yaml
  smee/internal/http/handlers.go
  smee/internal/http/handlers_test.go
  smee/internal/http/http.go
  smee/internal/http/http_test.go
  smee/internal/http/middleware.go
  smee/internal/http/middleware_test.go
  smee/internal/http/servers.go
  smee/internal/http/servers_test.go
  smee/internal/ipxe/http/http.go
  smee/internal/ipxe/http/middleware.go
  smee/internal/iso/iso.go
  smee/smee.go
  tink/server/server.go
Labels: ready-to-merge, smee, helm-chart, queued

#388 Update helm chart optional versions:
  helm/tinkerbell/templates/kube-vip/cluster-role.yaml
  helm/tinkerbell/values.yaml
Labels: ready-to-merge, helm-chart, queued

#389 Require successful container image push:
  .github/workflows/ci.yaml
Labels: ready-to-merge, helm-chart, queued

#390 Helm: hookos hostnetwork should be configurable like tinkerbell
  helm/tinkerbell/templates/hookos/deployment.yaml
  helm/tinkerbell/templates/hookos/service.yaml
  helm/tinkerbell/values.yaml
Labels: ready-to-merge, helm-chart, queued
